<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Board</title>
    <!-- CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
        integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/homepage.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="content-wrapper">
            <div class="text-wrapper">
                
            </div>
            <div class="img-wrapper">

            </div>
        </div>
        <button id="old-page">Old Page</button>
        <button id="next-page">Next Page</button>
    </div>
    <!-- JS -->
    <!-- Components -->
    <script src="../public/js/components/page.js"></script>
    <!-- Handlers -->

    <!-- Page -->
    <script src="../public/js/pages/homepage.js"></script>
    <!-- Main -->
    <script src="../public/js/main.js"></script>
</body>

</html>