
.main-wrapper{
    position: relative;
    display: flex;
    height: 95vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.restaurant-name{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    color: hsl(27, 91%, 41%);
    height: 30px;
}

.col1{
    animation: gliding1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    left: -1000px;
}

.col2{
    animation: gliding2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    left: 1000px;
}

.content-wrapper1{
    /* padding: 0.5rem 0.5rem 0.5rem 0.5rem; */
    margin: -1rem -1rem -1rem -1rem;
    display: inline-flex;
    position: relative;
    height: 10rem;
    width: 40vw;
    /* margin: auto; */
    /* border: 1px solid red; */
    align-items: stretch;
    box-shadow: 5px 5px 11px 3px rgba(207,207,207,0.14);
    flex-direction: row;
    justify-content: space-between;
}

.content-wrapper2{
    /* padding: 0.5rem 0.5rem 0.5rem 0.5rem; */
    margin: -1rem -1rem -1rem -1rem;
    display: inline-flex;
    position: relative;
    height: 10rem;
    width: 40vw;
    /* margin: auto; */
    /* border: 1px solid red; */
    align-items: stretch;
    box-shadow: 5px 5px 11px 3px rgba(207,207,207,0.14);
    flex-direction: row;
    justify-content: space-between;
}

@keyframes gliding1 {
    0%   { left:-1000px;}
    60%  { left:3px;}
    70%  { left:-3px;} 
    80% { left:1px;}
    90%{left:-1px;}
    100%{left:0px;}
  }
@keyframes gliding2 {
    0%   { left:1000px;}
    60%  { left:-3px;}
    70%  { left:3px;} 
    80% { left:-1px;}
    90%{left:1px;}
    100%{left:0px;}
}

.content-wrapper1::after{
    left: -1000px;
}

.content-wrapper2::after{
    left: 1000px;
}

.text-wrapper{
    display: flex;
    margin-left: 5px;
    /* position: absolute; */
    align-self: center;
    /* border: 1px solid black; */
    flex-direction: column;
}
.text-wrapper h1{
    margin: 1rem 1rem 0rem 0rem;
    text-align: start;

}
.text-wrapper p{
    margin: 0rem 0rem 0rem 0rem;
    text-align: start;

}

.img-wrapper{
    /* position: absolute; */
    /* border: 1px solid black; */
}
.img-wrapper img{
    object-fit: cover;
    height: 10rem;
    width: 20rem;
}

.buttons-wrapper{
    position: absolute;
    align-self: flex-end;
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.buttons-wrapper button{
    background: hsl(27, 91%, 41%);
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
    margin-top: 1rem;
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 5px 11px 3px rgba(207,207,207,0.14);
    border: 0px;
    margin-right: 70px;
    margin-left: 70px;
}
  
.buttons-wrapper button:hover {
    background: hsl(30, 91%, 41%);
  }