:root {
    --primary-color: hsl(30, 91%, 41%);
    --primary-dark-color: hsl(20, 91%, 41%);
    --disabled-color: #535353;
}

* {
    z-index: 0;
}

.main-wrapper {
    display: flex;
    height: 95vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.restaurant-name {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    margin: 10px 0px 0 0;
    color: var(--primary-dark-color);
    height: 30px;
}

.col1 {
    animation: gliding1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    left: -1000px;
}

.col2 {
    animation: gliding2;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    left: 1000px;
}

.content-wrapper1 {
    display: inline-flex;
    position: relative;
    margin: -3em;
    height: 10rem;
    width: 40vw;
    align-items: stretch;
    box-shadow: 5px 5px 11px 3px rgba(207, 207, 207, 0.14);
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.content-wrapper2 {
    display: inline-flex;
    position: relative;
    height: 10rem;
    margin: -3em;
    width: 40vw;
    align-items: stretch;
    box-shadow: 5px 5px 11px 3px rgba(207, 207, 207, 0.14);
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.content-wrapper2:hover,
.content-wrapper1:hover {
    transition-duration: 0.3s;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@keyframes gliding1 {
    0% {
        left: -1000px;
    }

    60% {
        left: 3px;
    }

    70% {
        left: -3px;
    }

    80% {
        left: 1px;
    }

    90% {
        left: -1px;
    }

    100% {
        left: 0px;
    }
}

@keyframes gliding2 {
    0% {
        left: 1000px;
    }

    60% {
        left: -3px;
    }

    70% {
        left: 3px;
    }

    80% {
        left: -1px;
    }

    90% {
        left: 1px;
    }

    100% {
        left: 0px;
    }
}

.content-wrapper1::after {
    left: -1000px;
}

.content-wrapper2::after {
    left: 1000px;
}

.text-wrapper {
    display: flex;
    margin-left: 5px;
    align-self: center;
    flex-direction: column;
}

.text-wrapper h1 {
    margin: 1rem 1rem 0rem 0rem;
    text-align: start;
    color: var(--primary-dark-color);
}

.text-wrapper p {
    margin: 0rem 0rem 0rem 0rem;
    text-align: start;
}

.img-wrapper img {
    object-fit: cover;
    height: 10rem;
    width: 20rem;
}

.buttons-wrapper {
    position: absolute;
    align-self: flex-end;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-wrapper button {
    background: var(--primary-color);
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px;
    font-weight: bold;
    box-shadow: 5px 5px 11px 3px rgba(207, 207, 207, 0.14);
    border: 0px;
    margin-right: 70px;
    margin-left: 70px;
}

#next-page:active {
    background-color: #ffffff;
    color: var(--primary-color);
}

#old-page:active {
    background-color: #ffffff;
    color: var(--primary-color);
}

.buttons-wrapper button:hover {
    background: var(--primary-dark-color);
}


#old-page:disabled {
    background-color: var(--disabled-color);
}